@CHARSET "ISO-8859-1";

.hairlines,html.hairlines #luka,html.hairlines #kaori .tabs li,html.hairlines #kaori li a,html.hairlines #lightbox .contentWrap .lightboxContent .nav,html.hairlines #lightbox .contentWrap .lightboxContent .groups,html.hairlines #lightbox .contentWrap .lightboxContent .top .details,html.hairlines #lightbox .contentWrap .lightboxContent .top .image,html.hairlines #lightbox .contentWrap .lightboxContent .top .left,html.hairlines #lightbox .contentWrap .lightboxContent .top .right .options .button,html.hairlines #lightbox .contentWrap .lightboxContent .top .right .source,html.hairlines #lightbox .contentWrap .lightboxContent .top .right .finder,html.hairlines .tile,html.hairlines .tile.polaroid .info,html.hairlines .tile .image:after,html.hairlines .polaroid .options,html.hairlines .polaroid .options .like{
	border-width:0.5px
}
#zirsaka {
    background: none repeat scroll 0 0 #fbfbfb;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    height: 44px;
    position: relative;
    right: 0;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    transition: left 0.25s cubic-bezier(0.25, 0, 0.3, 1) 0s;
    width: auto;
    z-index: 104;
}
#zirsaka .hamburger {
    color: #008ed3;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 300;
    height: 44px;
    line-height: 44px;
    margin: 0;
    padding: 0 16px 0 12px;
    position: absolute;
}
#zirsaka .hamburger svg {
    fill: #008ed3;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
    width: 24px;
}
#zirsaka .hamburger:before {
    font-size: 23px;
    line-height: 44px;
    margin-right: 6px;
    vertical-align: middle;
}
#zirsaka p {
    line-height: 44px;
    margin: 0;
    text-align: center;
    width: 100%;
}
#zirsaka p a {
    color: #000000;
    display: inline-block;
    height: 44px;
    margin: 0 auto;
    overflow: hidden;
    transition: color 0.25s ease-out 0s;
    width: 185px;
}
#zirsaka p a span {
    display: block;
    height: 1px;
    overflow: hidden;
    width: 1px;
}
#zirsaka p a:before {
    font-size: 119px;
    line-height: 44px;
}
#zirsaka p a svg path {
    transition: fill 0.25s ease-out 0s;
}
#zirsaka p a:hover {
    color: #008ed3;
}
#zirsaka p a:hover svg path {
    fill: #008ed3;
}
#zirsaka .search {
    position: absolute;
    right: 0;
    top: 0;
}
#zirsaka .search .search-wrap {
    position: relative;
}
#zirsaka .search .search-wrap svg {
    height: 28px;
    left: 0;
    position: absolute;
    stroke: #008ed3;
    top: 8px;
    width: 28px;
}
#zirsaka .search .search-wrap input {
    background-color: transparent;
    border-width: 0;
    color: #008ed3;
    font-size: 18px;
    font-weight: 300;
    height: 44px;
    margin: 0;
    outline: medium none;
    padding: 0;
    text-indent: 32px;
    width: 160px;
}
#zirsaka .search .search-wrap input::-moz-placeholder {
    color: #008ed3;
}
body.hidenav #zirsaka {
    left: 0;
}

body.lightboxActive #page, body.lightboxActive #zirsaka, body.lightboxActive #kaori {
}


body #pages {
    padding-top: 98px;
}
#pages {
    /* padding-left: 255px; */
    transform: translate3d(0px, 0px, 0px);
    transition: padding-left 0.25s cubic-bezier(0.25, 0, 0.3, 1) 0s;
}

#plugin {
    color: #666666;
    font-size: 13px;
    line-height: 18px;
}
