
@charset "utf-8";
.tn3t-gallery {
    height: 576px;
    position: relative;
    width: 960px;
}
.tn3t-gallery img {
    border: 0 none !important;
    margin: 0 !important;
    max-width: none !important;
    padding: 0 !important;
}
.tn3t-image {
    background-color: #000;
    height: 576px;
    position: absolute;
    width: 960px;
}
.tn3t-thumbs ul, .tn3t-thumbs li {
    list-style-type: none !important;
    margin: 0 !important;
}
.tn3t-thumbs {
    background-image: url("bg.png");
    bottom: 46px;
    display: none;
    height: 74px;
    padding-top: 2px;
    position: absolute;
    width: 960px;
}
.tn3t-thumb {
    cursor: pointer;
    height: 66px;
    padding: 2px !important;
    width: 66px;
}
.tn3t-thumb img {
    height: 66px;
    width: 66px;
}
.tn3t-thumb-selected {
    background-color: #ffffff;
    cursor: default;
}
.tn3t-over {
    bottom: 0;
    font-size: medium;
    position: absolute;
    width: 100%;
}
.tn3t-preloader {
    background-image: url("bg.png");
    height: 50px;
    position: absolute;
    width: 50px;
}
.tn3t-image-info {
    background-image: url("bg.png");
    bottom: 46px;
    display: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.tn3t-image-title {
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    padding: 6px 0 0 6px;
}
.tn3t-image-description {
    color: #fff;
    font-family: Tahoma,Helvetica,sans-serif;
    font-size: 0.8em;
    line-height: 1.3em;
    padding-left: 6px;
}
.tn3t-over table {
    border: 0 none;
    margin: 0;
}
.tn3t-ctrls {
    background-image: url("bg.png");
    border-spacing: 0;
    height: 46px;
    width: 100%;
}
.tn3t-ctrls tbody {
    border: 0 none;
}
.tn3t-ctrls td {
    border: 0 none;
    margin: 0;
    padding: 0;
    width: 19%;
}
.tn3t-ctrls div {
    margin: 0 auto;
}
.tn3t-show-info {
    background: url("tn3t.png") no-repeat scroll -102px 4px / 200px 170px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 43px;
    width: 43px;
}
.tn3t-show-info-active {
    background: url("tn3t.png") no-repeat scroll -155px 4px / 200px 170px rgba(0, 0, 0, 0);
}
.tn3t-show-thumbs {
    background: url("tn3t.png") no-repeat scroll -103px -52px / 200px 170px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 43px;
    width: 43px;
}
.tn3t-show-thumbs-active {
    background: url("tn3t.png") no-repeat scroll -156px -52px / 200px 170px rgba(0, 0, 0, 0);
}
.tn3t-play {
    background: url("tn3t.png") no-repeat scroll -48px 4px / 200px 170px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 43px;
    width: 43px;
}
.tn3t-play-active {
    background-position: -50px -52px;
    background-size: 200px 170px;
}
.tn3t-show-albums {
    background-image: url("tn3t.png");
    background-position: 2px -52px;
    background-size: 200px 170px;
    cursor: pointer;
    height: 43px;
    width: 43px;
}
.tn3t-fullscreen {
    background-image: url("tn3t.png");
    background-position: -2px 4px;
    background-size: 200px 170px;
    cursor: pointer;
    height: 43px;
    width: 43px;
}
.tn3t-timer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    height: 6px;
    position: absolute;
    top: 0;
    width: 100%;
}
.tn3t-count {
    bottom: 1px;
    color: #777777;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    left: 2px;
    position: absolute;
}
.tn3t-albums {
    background-color: #070707;
    color: #e0dcdc;
    font-family: Tahoma,Helvetica,sans-serif;
    height: 576px;
    left: 0;
    position: absolute;
    top: 0;
    width: 960px;
}
.tn3t-inalbums {
    height: 572px;
    padding: 2px;
    position: absolute;
    width: 954px;
}
.tn3t-album {
    background-color: #1a1a1a;
    border-bottom: 1px solid #222222;
    cursor: pointer;
    height: 72px;
    position: absolute;
    width: 950px;
}
.tn3t-album-selected {
    background-color: #cdcdcd;
    color: #111214;
    cursor: default;
}
.tn3t-album-image {
    float: left;
    height: 100%;
    margin: 0.4em;
    width: 70px;
}
.tn3t-album-image img {
    height: 60px;
    width: 60px;
}
.tn3t-album-title {
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.6em;
}
.tn3t-album-description {
    font-size: 0.7em;
    height: 2.2em;
    line-height: 1em;
    overflow: hidden;
}
.tn3t-albums-close {
    background-image: url("tn3t.png");
    background-position: 0 -104px;
    background-size: 200px 170px;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
}
.tn3.album, .tn3.album li {
    float: left;
    list-style-type: none;
    margin: 4px;
}
.tn3.album div, .tn3.album li h4, .tn3.album li div {
    display: none;
}
